body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "HalenoirCompact-Light";

  margin: 0;
  padding: 0;

  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(./img/white.jpg);
  background-attachment: fixed;
}

body > div {
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(./img/white.jpg);
  background-attachment: fixed;
}

header > div {
  width: 10%;
}

header > nav {
  width: 70%;
}

header img {
  height: 25px;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}

nav li {
  list-style-type: none;
  margin: 2%;
  padding: 1% 2%;
}

nav li a {
  font-family: "HalenoirCompact-Bold";
  color: black;
  text-decoration: none;
}

nav li a:visited {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 50px;
}

p {
  color: gray;
  font-size: 20px;
}

img,
h1 {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header img,
#intro img {
  border-radius: 100%;
}

main > section:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;

  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(./img/white.jpg);
  background-attachment: fixed;
}

#intro > div,
#cv > div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#intro img {
  height: 50px;
  width: 50px;
}

main > section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;

  background-color: beige;
}

/*
#cv > div {
 
} */

#cv ul {
  list-style-type: none;
}

#cv li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cv li img {
  height: 75px;
  margin: 0 2%;
  padding: 1.5%;

  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.6);
}

#cv li p:first-child {
  font-size: 30px;
  color: black;
}

/*
#cv li p:last-child {

}
*/

main > section:nth-child(3) {
  display: flex;
  flex-direction: column;

  min-height: 70vh;
  padding-bottom: 2%;

  background-color: white;
}

#services > div {
  display: flex;
  flex-direction: column;
}

#services > div:first-child,
#services article > div,
#works > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#services article > div h3,
#services article > div p,
#services h2,
#works h2 {
  width: 40%;
}

#services article > div h3 {
  font-size: 30px;
}

#services article > div p {
  font-size: 20px;
}

#services img {
  height: 300px;
  width: 500px;

  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
}

main > section:nth-child(4) {
  display: flex;
  flex-direction: column;

  min-height: 60vh;
  background-color: rgb(224, 224, 215);

  padding-bottom: 2%;
}

#works > div:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#works article {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;

  background-color: white;

  border-radius: 15px;

  padding: 1%;
  margin: 1% 0;
}

#works article div {
  width: 100%;
}

#works > div:last-child img {
  height: 500px;
  min-width: 500px;

  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

#works h3 {
  font-size: 25px;
}

#works h4 {
  font-size: 20px;
}

#works > div:last-child p {
  font-size: 15px;
}

main > section:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 30vh;

  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(./img/white.jpg);
  background-attachment: fixed;
}

#contact a {
  color: black;
  text-decoration: none;

  font-family: "HalenoirCompact-Bold";
  font-size: 100%;

  padding: 0.5% 2%;

  border: 1px solid gray;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 5px 1px black;
}

#contact a:hover {
  color: black;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;

  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(./img/white.jpg);
  background-attachment: fixed;
}

footer > * {
  width: 40%;
}

footer img {
  height: 25px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}

footer li {
  list-style-type: none;
  margin: 2%;
}

footer li a {
  font-family: "HalenoirCompact-Bold";
  color: black;
  text-decoration: none;
}

footer li a:visited {
  color: black;
}

/*  
(footer container) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
*/

@media only screen and (max-width: 1700px) {
  #works > div:last-child img {
    height: 300px;
    min-width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 13px;
  }

  #cv li p:first-child {
    font-size: 20px;
  }

  /*
  #cv li p:last-child {
  
  }
  */

  #services article > div h3 {
    font-size: 20px;
  }

  #services article > div p {
    font-size: 15px;
  }

  #services article > div:last-child {
    flex-wrap: wrap;
  }

  #services article > div img {
    height: 150px;
    width: 250px;

    margin-bottom: 2%;
  }

  #works > div:last-child {
    flex-direction: column;
  }

  #works > div:last-child article {
    width: 98%;
  }

  #works > div:last-child img {
    height: 250px;
    min-width: auto;
  }
}
