body {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-family: "HalenoirCompact-Light";

  margin: 0;
  padding: 0;
}

body > div {
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header > * {
  width: 40%;
}

header img {
  height: 25px;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

nav li {
  list-style-type: none;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:visited {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 50px;
}

p {
  color: gray;
  font-size: 20px;
}

header img,
#intro img {
  border-radius: 100%;
}

main > section:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
}

#intro > div,
#cv > div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#intro img {
  height: 50px;
  width: 50px;
}

main > section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;

  background-color: beige;
}

/*
#cv > div {
 
} */

#cv ul {
  list-style-type: none;
}

#cv li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cv li img {
  height: 25px;
  margin: 0 2%;
}

#cv li p:first-child {
  font-size: 30px;
  color: black;
}

/*
#cv li p:last-child {

}
*/

main > section:nth-child(3) {
  display: flex;
  flex-direction: column;

  min-height: 70vh;
  padding-bottom: 2%;
}

#services > div {
  display: flex;
  flex-direction: column;
}

#services > div:first-child,
#services article > div,
#works > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#services article > div h3,
#services article > div p,
#services h2,
#works h2 {
  width: 40%;
}

#services article > div h3 {
  font-size: 30px;
}

#services article > div p {
  font-size: 20px;
}

#services img {
  height: 300px;
  width: 500px;

  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
}

main > section:nth-child(4) {
  display: flex;
  flex-direction: column;

  height: 60vh;
  background-color: rgb(224, 224, 215);
}

/*
#works > div {

} 

#works h2 {
  
} */

main > section:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 30vh;
}

#contact > div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

footer {
  display: flex;
  flex-direction: row;
}

footer > * {
  width: 40%;
}

footer img {
  height: 25px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

footer li {
  list-style-type: none;
}

footer li a {
  color: black;
  text-decoration: none;
}

footer li a:visited {
  color: black;
}

/*  
(footer container) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
*/

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 13px;
  }

  #cv li p:first-child {
    font-size: 20px;
  }

  /*
  #cv li p:last-child {
  
  }
  */

  #services article > div h3 {
    font-size: 20px;
  }

  #services article > div p {
    font-size: 15px;
  }
}
